@media (min-width: 0px) {

    .project {
        text-align: center;
        position: relative;
        margin: 40px auto;
      } 
            
      .project-name {
        font-size: 3rem;
      }
      
}

@media (min-width: 576px) {

    .project-title {
        font-size: 2.5rem;
      }
    
      .project-links {
        font-size: 2rem;
      }

      .project-prob {
        font-size: 2rem;
      }

      .project-tech {
        font-size: 2rem;
      }
     
      .project-name {
        font-size: 4rem;
      }

}

@media (min-width: 768px) {

    .project-title {
        font-size: 3rem;
      }
      
      .project-links {
        font-size: 2.5rem;
      }
      
      .project-prob {
        font-size: 2.5rem;
      }

      .project-tech {
        font-size: 2.5rem;
      }

      .project-name {
        font-size: 5rem;
      }

}


@media (min-width: 992px) {

    #projects {
        justify-content: space-between;
      }
    
      .project-title {
        font-size: 2rem;
      }
      
      .project-links {
        font-size: 1.5rem;
    }

    .project-prob {
      font-size: 1.5rem;
    }

    .project-tech {
      font-size: 1.5rem;
    }
      
      .project-name {
        font-size: 3rem;
      }

}

@media (min-width: 1200px) {

    .project-title {
        font-size: 2.25rem;
      }
      
      .project-links {
        font-size: 2rem;
      }

      .project-prob {
        font-size: 2rem;
      }

      .project-tech {
        font-size: 2rem;
      }
      
      .project-name {
        font-size: 4rem;
      }
        

}    