@media (min-width: 0px) {
/*me*/
  .body {
    display: flex;
    flex-direction: column;
    min-height: 100 vh;
  }

    #resume-link-div {
        justify-content: center;
      }
      
      #resume-link {
        text-decoration: none;
        color: var(--text-color);
        margin-bottom: 3rem;
        font-size: 2rem;
      }
      
      #skills-div {
        justify-content: center;
      } 
      
      .skill tool {
        text-decoration: none;
        font-size: 2rem;
        margin-bottom: .5rem;
      }

      .container {
        justify-content: center;
      }
/*me*/
      .footer {
        margin-top: auto;
      }



}